body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #535353;
  }
  
  .search-form {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 2px 6px rgba(255, 255, 255, 0.1);
  }
  
  .search-form input[type="text"] {
    width: 300px;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    outline: none;
  }
  
  .search-form button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  .banner {
    height: 200px;
    background-position: center;
    background-size: cover;
  }